name: Haskell CI

on:
  pull_request:
    branches: [ main ]
    
  workflow_dispatch:

permissions:
  contents: read

jobs:
  on-main-update:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4.1.1
    - uses: haskell-actions/setup@v2.6.2
      with:
        ghc-version: '9.6.3'
        cabal-version: '3.10.2.1'

    - name: Cache
      uses: actions/cache@v4.0.1
      env:
        cache-name: cache-cabal
      with:
        path: ~/.cabal
        key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/*.cabal') }}-${{ hashFiles('**/cabal.project') }}
        restore-keys: |
          ${{ runner.os }}-build-${{ env.cache-name }}-
          ${{ runner.os }}-build-
          ${{ runner.os }}-
          
    - name: Build and test package
      shell: bash
      run: |
        cabal update
        cabal new-build all
        cabal new-test all

  ormolu:
    needs: on-main-update
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - uses: haskell-actions/run-ormolu@v14
        with:
          mode: inplace
      - name: apply formatting changes
        uses: stefanzweifel/git-auto-commit-action@v4
        if: ${{ always() }}
        with:
          commit_message: automated ormolu commit
